/* Theme Switcher -------------------------------- */
.SwitchRoot {
  width: 73px;
  height: 34px;
  border-radius: 9999px;
  position: relative;
}

.SwitchRoot[data-state='checked'] {
  background-color: white;
}

.SwitchThumb {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #101011;
  border-radius: 9999px;
  transition: transform 200ms ease-in-out;
  transform: translateX(2px);
  will-change: transform;
}

.SwitchThumb[data-state='checked'] {
  transform: translateX(40px);
  background-color: #565452;
}